.footer.footer {
    padding-top: 2px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    background-color: #0097a7;
    font-size: 1.3rem;
    font-weight: 500;
}

span.footer-text {
    color: white;
}